.navbar {
    display: flex;
    align-items: center;
    background-color: #17a9fd;
    padding: 1rem;
    color: white;
}

.navbar-brand {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
}

.navbar-brand svg {
    margin-right: 0.5rem;
}

.navbar-title {
    font-size: 1.2rem;
    font-weight: bold;
}